parameters:
  level: 'max'
  paths:
    - 'Classes'
    - 'Configuration'
    - 'Tests'
  excludePaths:
    - 'Tests/Acceptance/Support/_generated/'
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - identifier: 'missingType.iterableValue'
  typo3:
    requestGetAttributeMapping:
      frontend.cache.instruction: TYPO3\CMS\Frontend\Cache\CacheInstruction|null
