parameters:
  level: 'max'
  paths:
    - 'Classes'
    - 'Configuration'
    - 'Tests'
  excludePaths:
    - 'Tests/Acceptance/Support/_generated/'
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    - identifier: 'missingType.iterableValue'
